<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>

  <link rel="stylesheet" href="/css/main.css">
</head>
<body>
  <div class="media">
    <div class="media_image-holder">
      <img class="media_image" src="">
    </div>
  </div>

  <div class="media_content">
    <h2 class="media_heading">nadpis</h2>
    <p class="media_text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat consectetur illo suscipit, libero assumenda quibusdam esse ut quod quis natus reprehenderit dolore dolorem. Quisquam suscipit obcaecati, magni molestias quidem cumque?</p>
  </div>

</body>
</html>